### Краткая запись односложный условий из if и else

In [12]:
# even or not
num = 5

if num % 2 == 0:
    print('num is even')
else:
    print('num isn\'t even')

num isn't even

In [13]:
 print('num is even') if num % 2 == 0 else print('num isn\'t even')

num isn't even

### Изменяемые и неизменяемые типы данных

In [14]:
some_names = ['John', 'James', 'Linda']

In [15]:
some_names.sort()
some_names

['James', 'John', 'Linda']

In [17]:
name = 'John'

In [18]:
result = name.lower()
result

'john'

In [19]:
some_names = ['John', 'James', 'Linda']
result = some_names.sort()
print(result)

None

In [20]:
some_names

['James', 'John', 'Linda']

### Нужна копия списка

In [21]:
copy_some_names = some_names
copy_some_names

['James', 'John', 'Linda']

In [22]:
id(some_names), id(copy_some_names)

(4493580480, 4493580480)

In [23]:
copy_some_names.append('Lena')
copy_some_names

['James', 'John', 'Linda', 'Lena']

In [24]:
some_names

['James', 'John', 'Linda', 'Lena']

In [25]:
# true copy

some_names = ['John', 'James', 'Linda']
copy_some_names = some_names.copy()

In [26]:
id(some_names) == id(copy_some_names)

False

In [27]:
copy_some_names.append('Lena')
some_names

['John', 'James', 'Linda']

### <u>f-строки</u>
Добавляя префикс f к строке можно встраиивать в нее произвольные выражениия при помощи фигурных скобок {}
Можно разделять периоды чисел любым раздилителем

In [ ]:
# устаревшие варианты
print('Годовая зарплата: %d', year_salary)

In [31]:
# Метод format

print('Годовая зарплата: {1}, {2}, {0:0.2%}'.format(year_salary, 5, 200))

Годовая зарплата: 5, 200, 1000000000.00%

In [29]:
year_salary = 10000000
print(f'Годовая зарплата: ${year_salary :,}')

Годовая зарплата: $10,000,000

Можно представлять чиисла с округлением до нужного количества знаков

In [32]:
pi_value = 3.141592653589793

print(f'Число Пи: {pi_value :.2f}')

Число Пи: 3.14

### Practice

Выведите результат в виде:

    > Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians

In [33]:
planet = 'pluto'
pluto_mass = 1.303 * 10 ** 22
earth_mass = 5.9722 * 10 ** 24
population = 52910390

In [35]:
f"{planet} weighs about {pluto_mass:.1e} kilograms ({pluto_mass / earth_mass:.3%} of Earth's mass). It is home to {population:,} Plutonians"

"pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians"

Выведем на экран список всех слов длиннее n букв из текста

In [36]:
text = 'Python - высокоуровневый язык программирования, ориентированный на повышение производительности разработчика и читаемостии кода.'
n = 4

In [41]:
splitted_text = text.split(' ')
splitted_text

['Python',
 '-',
 'высокоуровневый',
 'язык',
 'программирования,',
 'ориентированный',
 'на',
 'повышение',
 'производительности',
 'разработчика',
 'и',
 'читаемостии',
 'кода.']

In [44]:
for word in splitted_text:
    word = word.strip(',.-?!')
    if len(word) > n:
        print(word)

Python
высокоуровневый
программирования
ориентированный
повышение
производительности
разработчика
читаемостии

In [50]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [55]:
total_sum = 0

for i, line in enumerate(data):
    print(i, line[i])
    total_sum += line[i]
    
print(total_sum)

0 13
1 32
2 23
3 35
103